@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gilroy";
    src: local("Gilroy"), url(./fonts/Gilroy-ExtraBold.otf) format("opentype");
  }

  @font-face {
    font-family: "Avenir";
    src: local("Avenir"), url(./fonts/Avenir.ttf) format("truetype");
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
